<h2 class="section-title">{{label}}</h2>

<ul class="speakers-list">
{{#each schedule}}
  {{#if presentation}}
    <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
      {{#if photo}}
        <span class="speaker-photo">
          <img class="photo" src="{{ photo }}" alt="{{ name }}" itemprop="image">
        </span>
      {{/if}}

      <h3 class="speech-title">
        {{#if presentation.time}}
          <span class="speech-time">{{ presentation.time }}</span>
        {{/if}}
        <span> {{ presentation.title }}</span>
      </h3>

      <h3 class="speakers-name">{{ name }} {{#if link}}<a href="{{ link.href }}" title="{{ link.text}}">{{ link.text}}</a>{{/if}}</h3>
      <p class="speakers-bio">{{ bio }}</p>
    </li>
  {{/if}}
{{/each}}
</ul>
